*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #ffc24f;
  font-family: 'Finger Paint', cursive;
  background-color: #37505C;
}

.board-container{
  margin: 50px;
  background-color: #37505C;
  height: 100vh;
  background-color: #37505C;
}
.board-row{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.square{
  border: 1px solid orange;
  background-color: #37505C;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button{
 background-color: #ffc24f; 
 border: none;
 padding: 6px 20px;
 font-size: 20px;
 margin-bottom: 8px;
 border-radius: 5px;
}

span{
  font-size: 20px;
}
